@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <p>Welcome to the Disaster Alleviation Foundation application!</p>
        <p>
            The Gift of the Givers Foundation stands as a beacon of hope in times of crisis, dedicated to
            providing swift and effective aid to communities struck by natural disasters and emergencies in
            South Africa and beyond. Established in response to the growing need for organised relief efforts,
            the foundation operates on the principles of compassion, efficiency, and resilience. With a diverse
            team of volunteers and experts, we strive to make a tangible difference in the lives of those affected
            by adversity.
        </p>
    </div>
</div>
